$color-first: #e5e5e5;
$color-second: #16171b;
$color-third: #27272e;
$color-fourth: #fab8c4;
$color-fifth: #ababab;
$color-sixth: #5956e9;
$color-seventh: #d8e1e8;
$color-eighth: #d6e0e7;
$color-ninth: #778f9d;
$color-tenth: #00aaff;
$color-eleventh: #289f66;

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura-pt.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: url(../images/bg-icons/hero-line.svg), url(../images/bg-hero.png),
    url(../images/bg-icons/bg-header-ellipses.svg);
  background-repeat: no-repeat;
  background-position: left -260px top 800px, right -280px top 200px,
    right -300px top;
  font-family: 'Futura PT', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $color-second;
  background-color: $color-first;
  overflow-x: hidden;

  header {
    padding-top: 45px;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a,
      a img {
        display: block;
      }
      .send {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        border: 5px solid transparent;
      }
      .send:hover {
        border-color: #fff;
        box-shadow: 1px 1px 2px 1px rgba(250, 250, 250, 0.5);
        transform: scale(1.15);
      }
    }
  }

  main {
    .hero {
      .p-1 {
        font-weight: 300;
        font-size: 40px;
        line-height: 51px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 80px;
        span {
          font-weight: bold;
        }
      }
      .p-2 {
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-bottom: 40px;
      }
      .p-3 {
        font-weight: 450;
        font-size: 80px;
        line-height: 100%;
        padding-bottom: 20px;
      }
      .p-4 {
        font-weight: 450;
        font-size: 80px;
        line-height: 100%;
        padding-bottom: 60px;
        background: linear-gradient(
          95.98deg,
          #a169f7 1.6%,
          #00aaff 24.24%,
          #ff6163 50.71%,
          #97cf26 68.48%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
      }
      .p-5 {
        font-size: 30px;
        line-height: 38px;
        padding-bottom: 60px;
      }
      .reg-btn {
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        padding: 20px 40px;
        color: #fff;
        background: #5956e9;
        border-radius: 21px;
        margin-bottom: 170px;
      }
      .mouse {
        display: flex;
        justify-content: center;
        padding-bottom: 130px;
      }
      .try {
        display: flex;
        justify-content: center;
        button {
          position: relative;
          background: url(../images/try-mask.svg), $color-third;
          display: flex;
          align-items: center;
          gap: 30px;
          padding: 16px 16px 16px 70px;
          border-radius: 152px;
          .text {
            span:first-child {
              font-weight: 450;
              font-size: 56px;
              line-height: 84px;
              text-align: center;
              color: $color-fourth;
            }
            span:last-child {
              font-weight: 450;
              font-size: 28px;
              line-height: 42px;
              text-align: center;
              color: #fff;
            }
          }
        }
        button::before {
          content: '';
          width: 668px;
          height: 242px;
          background: linear-gradient(
            to right,
            #0fa6f7,
            #ff6163,
            #a169f7,
            #97cf26
          );
          border-radius: 160px;
          position: absolute;
          top: -8px;
          left: -8px;
          z-index: -1;
        }
      }
    }
    .advantages {
      background: url(../images/bg-icons/adv-line-1.svg),
        url(../images/bg-icons/bg-circles.svg);
      background-repeat: no-repeat;
      background-position: center top, center top 540px;
      padding-top: 130px;
      padding-bottom: 180px;
      h1 {
        font-weight: 600;
        font-size: 72px;
        line-height: 100%;
        text-align: center;
        color: $color-third;
        padding-bottom: 100px;
      }
      .advs {
        display: flex;
        flex-direction: column;
        gap: 130px;
        align-items: center;
        .adv {
          display: flex;
          align-items: center;
          gap: 200px;
          .text {
            max-width: 480px;
            .p-1 {
              font-weight: 450;
              font-size: 64px;
              line-height: 82px;
              padding-bottom: 16px;
            }
            .p-2 {
              font-weight: 300;
              font-size: 32px;
              line-height: 41px;
              padding-bottom: 28px;
            }
            .p-3 {
              font-size: 24px;
              line-height: 31px;
              span {
                font-weight: bold;
              }
            }
          }
        }
        .adv:nth-child(even) {
          .p-1 {
            white-space: nowrap;
          }
        }
        .adv:nth-child(2) {
          .text {
            position: relative;
          }
        }
        .adv:nth-child(2) .text::after {
          content: 'БЕСПЛАТНО';
          position: absolute;
          top: 75px;
          right: -125px;
          background: linear-gradient(
            96.03deg,
            #4cd7ad 18.67%,
            #17ff2f 109.14%
          );
          border-radius: 25px;
          font-size: 24px;
          line-height: 31px;
          padding: 6px 12px;
        }
        .adv:nth-child(4) {
          .img {
            position: relative;
          }
        }
        .adv:nth-child(4) .img::after {
          content: '';
          background-image: url(../images/advantages/adv-4-mask.png);
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 58px;
          left: 104px;
          z-index: 10;
        }
      }
    }
    .price {
      padding-top: 70px;
      padding-bottom: 60px;
      background: url(../images/bg-icons/bg-price.svg), $color-seventh;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 144px;
      h1 {
        font-weight: 600;
        font-size: 72px;
        line-height: 100%;
        text-align: center;
        color: $color-third;
        padding-bottom: 100px;
      }
      .cards {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 70px;
        .card {
          background: $color-third;
          border-radius: 28px;
          padding: 42px 28px;
          text-align: center;
          .p-1 {
            font-weight: 450;
            font-size: 64px;
            line-height: 82px;
            text-align: center;
            color: $color-fourth;
          }
          .p-2 {
            font-size: 36px;
            line-height: 46px;
            text-align: center;
            color: #fff;
            padding-bottom: 32px;
          }
          .p-3 {
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            color: $color-fifth;
          }
        }
        .card:last-child {
          background: $color-sixth;
          .p-1,
          .p-3 {
            color: #fff;
          }
        }
      }
      .p-4 {
        font-weight: 450;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
      }
      .p-5 {
        font-weight: 450;
        font-size: 54px;
        line-height: 150%;
        text-align: center;
        color: $color-sixth;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .p-6 {
        font-size: 36px;
        line-height: 150%;
        text-align: center;
        color: $color-eleventh;
      }
    }
  }

  footer {
    background: url(../images/bg-icons/bg-footer-ellipses.svg),
      url(../images/bg-icons/bg-footer-3.png),
      url(../images/bg-icons/bg-footer-2.svg);
    background-repeat: no-repeat;
    background-position: left -260px bottom, right bottom, right -260px bottom;
    padding-top: 160px;
    .p-1 {
      font-weight: 300;
      font-size: 40px;
      line-height: 51px;
      text-align: center;
      padding-bottom: 40px;
    }
    .p-2 {
      font-weight: 450;
      font-size: 64px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 84px;
    }
    .subscribe {
      display: flex;
      gap: 100px;
      padding-bottom: 270px;
      .login {
        background: #fff;
        border-radius: 27px;
        padding: 50px;
        .p-3 {
          font-size: 48px;
          line-height: 62px;
          text-align: center;
          padding-bottom: 40px;
          white-space: nowrap;
        }
        label {
          display: inline-block;
          font-size: 24px;
          line-height: 31px;
          padding-bottom: 8px;
        }
        input {
          display: block;
          width: 100%;
          border: 1px solid $color-eighth;
          border-radius: 15px;
          font-weight: 300;
          font-size: 20px;
          line-height: 26px;
          color: $color-ninth;
          padding: 18px 24px;
          margin-bottom: 20px;
          outline: none;
        }
        .agree {
          display: flex;
          align-items: center;
          gap: 17px;
          padding-bottom: 39px;
          padding-top: 8px;
          input {
            width: 25px;
            height: 25px;
            border: 2px solid $color-eighth;
            border-radius: 7px;
            margin: 0;
          }
          label {
            display: block;
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            padding: 0;
          }
        }
        button {
          display: block;
          width: 100%;
          background: $color-sixth;
          border-radius: 21px;
          font-weight: 450;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
          color: #fff;
          padding: 16px;
        }
      }
      .reminder {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: $color-tenth;
          color: #fff;
          font-weight: 600;
          font-size: 64px;
          line-height: 82px;
          text-align: center;
          margin-bottom: 20px;
        }
        .p-4 {
          font-size: 30px;
          line-height: 38px;
          text-align: center;
          max-width: 420px;
        }
      }
    }
    .footer-logo {
      padding-left: 80px;
      padding-bottom: 90px;
    }
    .copy {
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      padding-bottom: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
  }
  body {
    background: url(../images/bg-icons/hero-line.svg),
      url(../images/bg-hero.png), url(../images/bg-icons/bg-header-ellipses.svg);
    background-repeat: no-repeat;
    background-position: left -50px top 600px, right -180px top 650px,
      right -120px top -48px;
    background-size: 100% 296px, 592px 411px, 367px 367px;
    background-color: $color-first;
    overflow-x: hidden;

    header {
      padding-top: 32px;
      .logo {
        width: 203px;
        height: 45px;
      }
      .send {
        width: 48px;
        height: 48px;
        img {
          width: 42px;
          height: 42px;
        }
      }
    }

    main {
      .hero {
        .p-1 {
          font-size: 20px;
          line-height: 26px;
          padding-top: 81px;
          padding-bottom: 60px;
        }
        .p-2 {
          font-size: 20px;
          text-align: center;
          padding-bottom: 20px;
        }
        .p-3 {
          font-size: 40px;
          text-align: center;
        }
        .p-4 {
          font-size: 40px;
          text-align: center;
          padding-bottom: 20px;
        }
        .p-5 {
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          padding-bottom: 40px;
        }
        .reg-btn {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .mouse {
          display: none;
        }
        .try {
          button {
            padding: 8px 8px 8px 32px;
            border-radius: 72px;
            gap: 16px;
            .text {
              span:first-child {
                font-size: 24px;
                line-height: 36px;
              }
              span:last-child {
                font-size: 12px;
                line-height: 18px;
              }
            }
            img {
              height: 86px;
            }
          }
          button::before {
            width: 294px;
            height: 108px;
            border-radius: 70px;
            top: -3px;
            left: -3px;
          }
        }
      }
      .advantages {
        background: url(../images/bg-icons/bg-circles.svg);
        background-repeat: no-repeat;
        background-position: center top -400px;
        background-size: 558px 1938px;
        padding-bottom: 100px;
        h1 {
          font-size: 36px;
          padding-bottom: 50px;
        }
        .advs {
          gap: 36px;
          .adv {
            flex-wrap: wrap;
            gap: 24px;
            .text {
              order: 2;
              flex-basis: 100%;
              .p-1 {
                font-size: 40px;
                padding-bottom: 0;
              }
              .p-2 {
                font-size: 24px;
                line-height: 31px;
              }
              .p-3 {
                font-size: 16px;
                line-height: 21px;
              }
            }
            .img {
              display: flex;
              justify-content: center;
              order: 1;
              flex-basis: 100%;
            }
          }
          .adv:first-child {
            .img {
              img {
                width: 107px;
                height: 162px;
              }
            }
          }
          .adv:nth-child(2) {
            .img {
              img {
                width: 158px;
              }
            }
          }
          .adv:nth-child(2) .text::after {
            top: 60px;
            right: 0;
            border-radius: 12px;
            font-size: 12px;
            line-height: 16px;
            padding: 3px 6px;
          }
          .adv:nth-child(3) {
            .img {
              img {
                width: 160px;
              }
            }
          }
          .adv:nth-child(4) {
            .img {
              img {
                width: 176px;
                height: 138px;
              }
            }
          }
          .adv:nth-child(4) .img::after {
            width: 105px;
            height: 85px;
            top: 30px;
            left: 140px;
          }
          .adv:nth-child(5) {
            .img {
              img {
                width: 179px;
                height: 106px;
              }
            }
          }
        }
      }
      .price {
        background: url(../images/bg-icons/bg-price-sm.svg), $color-seventh;
        background-size: cover;
        padding-bottom: 120px;
        border-radius: 20px;
        h1 {
          font-size: 36px;
        }
        .cards {
          flex-direction: column;
          gap: 14px;
          padding-bottom: 32px;
          .card {
            padding: 36px 24px;
            flex-basis: 220px;
            .p-1 {
              font-size: 38px;
              line-height: 49px;
            }
            .p-2 {
              font-size: 21px;
              line-height: 27px;
              padding-bottom: 24px;
            }
            .p-3 {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
        .p-4 {
          font-size: 24px;
        }
        .p-5 {
          font-size: 36px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
        .p-6 {
          font-size: 24px;
        }
      }
    }

    footer {
      background: url(../images/bg-icons/bg-footer-3.png),
        url(../images/bg-icons/bg-footer-ellipses.svg),
        url(../images/bg-icons/bg-footer-2.svg);
      background-repeat: no-repeat;
      background-size: 294px 339px, 456px 456px, 690px 690px;
      background-position: center bottom, left -104px bottom,
        right -459px bottom -200px;
      padding-top: 100px;
      .p-1 {
        font-size: 30px;
        line-height: 38px;
      }
      .p-2 {
        font-size: 40px;
        margin-bottom: 42px;
      }
      .subscribe {
        flex-wrap: wrap;
        gap: 48px;
        padding-bottom: 62px;
        .reminder {
          order: 1;
          .icon {
            font-size: 39px;
            line-height: 50px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
          }
          .p-4 {
            font-size: 18.2425px;
            line-height: 23px;
          }
        }
        .login {
          order: 2;
          padding: 30px;
          border-radius: 16px;
          .p-3 {
            font-size: 30px;
            line-height: 38px;
          }
          label {
            font-size: 15px;
            line-height: 19px;
            padding-bottom: 4px;
          }
          input {
            border: 0.61657px solid $color-eighth;
            border-radius: 9.24856px;
            padding: 10px 16px;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 12px;
          }
          .agree {
            gap: 12px;
            padding-bottom: 24px;
            padding-top: 16px;
            input {
              width: 15px;
              height: 15px;
              border: 1.23px solid $color-eighth;
              border-radius: 4.32px;
            }
            label {
              font-size: 10px;
              line-height: 13px;
            }
          }
          button {
            border-radius: 13px;
            padding: 10px;
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
      .footer-logo {
        padding-left: 0;
        padding-bottom: 360px;
        img {
          width: 203px;
          height: 45px;
        }
      }
      .copy {
        padding-bottom: 90px;
        p {
          text-align: center;
        }
      }
    }
  }
}
